In [5]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from math import log, sqrt
import pandas as pd
import numpy as np
import re
%matplotlib inline

In [8]:
mails = pd.read_csv('spam_ham_dataset.csv', encoding = 'latin-1')
mails.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [21]:
mails.label.value_counts()

ham     3672
spam    1499
Name: label, dtype: int64

In [22]:
mails.shape

(5171, 4)

In [12]:
mails.text.describe()

count                                                  5171
unique                                                 4993
top       Subject: calpine daily gas nomination\r\n>\r\n...
freq                                                     20
Name: text, dtype: object

In [13]:
from sklearn.model_selection import train_test_split

X = mails['text']
y = mails['label']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

In [19]:
X_train.value_counts, X_train.shape

(<bound method IndexOpsMixin.value_counts of 5132    Subject: april activity surveys\r\nwe are star...
 2067    Subject: message subject\r\nhey i ' am julie ^...
 4716    Subject: txu fuels / sds nomination for may 20...
 4710    Subject: re : richardson volumes nov 99 and de...
 2268    Subject: a new era of online medical care .\r\...
                               ...
 4426    Subject: re : ena sales on hpl\r\nlast that i ...
 466     Subject: tenaska iv\r\nbob :\r\ni understand f...
 3092    Subject: broom , bristles up , flew\r\nbe diff...
 3772    Subject: calpine daily gas nomination ( weeken...
 860     Subject: re : meter 1459 , 6 / 00\r\nyep , you...
 Name: text, Length: 4136, dtype: object>,
 (4136,))

In [16]:
y_train.value_counts()

ham     2930
spam    1206
Name: label, dtype: int64

In [20]:
y_test.value_counts()

ham     742
spam    293
Name: label, dtype: int64

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

X_train_tfidf = vectorizer.fit_transform(X_train)
X_train_tfidf.shape

(4136, 45240)

In [26]:
from sklearn.svm import LinearSVC
clf = LinearSVC()
clf.fit(X_train_tfidf,y_train)

LinearSVC()

In [27]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),])


text_clf.fit(X_train, y_train)  


predictions = text_clf.predict(X_test)

In [28]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

[[732  10]
 [  4 289]]

In [29]:
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99       742
        spam       0.97      0.99      0.98       293

    accuracy                           0.99      1035
   macro avg       0.98      0.99      0.98      1035
weighted avg       0.99      0.99      0.99      1035

In [30]:
print(metrics.accuracy_score(y_test,predictions))

0.9864734299516909

In [35]:
text_clf.predict(['enron methanol'])[0]

'ham'

In [37]:
text_clf.predict(['Astana is capital of Great Britain'])[0]

'spam'

### Count Vectorize

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [42]:
X_train_cnt = count_vect.fit_transform(X_train)
X_train_cnt.shape

(4136, 45240)

In [44]:
text_clf = Pipeline([('cntvct', CountVectorizer()),
                     ('clf', LinearSVC()),])


text_clf.fit(X_train, y_train)  


predictions = text_clf.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [45]:
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.98      0.98      0.98       742
        spam       0.95      0.95      0.95       293

    accuracy                           0.97      1035
   macro avg       0.97      0.97      0.97      1035
weighted avg       0.97      0.97      0.97      1035

In [46]:
print(metrics.accuracy_score(y_test,predictions))

0.9729468599033816